@import url('https://fonts.googleapis.com/css?family=Bookman Old Style');

html {
    background: #b3b3b3;
    border:  1px solid red;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background: white;
    padding: 0px;
    border:  1px solid black;
    margin: 0;
    height: 100%;
    width: 100%;
}


.header {
    border: 1px red solid;
    background: red;
    color: white;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%; /*was 300px*/
    text-align: center;
    position: relative;
    font-size: x-large;
}

.section1 {
    border: 1px blue solid;
    background: blue;
    font-size: x-large;
    left: 0px;
    height: 370px;
    width: 100%; /*was 300px*/
    color: white;
    text-align: center;
    position: relative;
}



.section2 {
    border: 1px lightgray solid;
    background: lightgray;
    font-size: x-large;
    left: 0px;
    height: 370px;
    width: 100%;  /*was 300px*/
    color: black;
    text-align: center;
    position: relative;
}

.footer {
    border: 1px green solid;
    background: green;
    font-size: x-large;
    left: 0px;
    height: 90px;
    width: 100%; /*was 300px*/
    color: white;
    text-align: center;
    position: relative;
}

.descriptive-text {
    font-size: 40px;
    color: red;
    text-align: center;
    padding-top: 0px;
    margin: 50px 0 0 0;
}

.descriptive-text a:hover,
.descriptive-text a:active {
  color: green;
} 






