

.some-icon {
    height              : 10px;
    width               : 10px;
    background-color    : $default-text;
    mask-image          : url("/assets/icons/calendar.svg");

   -webkit-mask-size    : contain;
    mask-size           : contain;

   -webkit-mask-position: center;
    mask-position       : center;

   -webkit-mask-repeat  : no-repeat;
    mask-repeat         : no-repeat;
    }






<div class="svg-icon calendar"></div>


style.css

.svg-icon.calander {
    height              : 10px;
    width               : 10px;
    background-color    : $default-text;
    mask-image          : url("/assets/icons/calendar.svg");
    }

global.css

.svg-icon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}