@import url('https://fonts.googleapis.com/css?family=Bookman Old Style');

html {
    background: #b3b3b3;
    height: 100%;
    text-align: center;
}

body {
    background: white;
    height: 100%;

}

.header {
    border: 1px solid black;
    background: red;
    color: white;
    width: 300px;
    height: 100px;
    position: relative;
}

.section1 {
    border: 1px solid black;
    background: blue;
    color: white;
    width: 300px;
    height: 100px;
    position: relative;
}

.section2 {
    border: 1px solid black;
    background: lightgray;
    color: black;
    width: 300px;
    height: 100px;
    position: relative;
}

.footer {
    border: 1px solid black;
    background: green;
    color: white;
    width: 300px;
    height: 100px;
    position: relative;
}

.descriptive-text {
    font-size: 25px;
    color: red;
    text-align: center;
}

.descriptive-text a:hover,
.descriptive-text a:active {
    color: green;
} 
