http://localhost:5500/client/1c-html-custom-app_final/src/index1.html

    [4] ToolbarItems4: {onClick: ƒ, addListeners: ƒ}     // ToolbarItems[116]
    [4] Clicked Item4, Event:  undefined

    [7] ToolbarItems7: {onClick: ƒ, addListeners: ƒ}     // Toolbar.mjs[7]
    [4] Clicked Item4, Event:  undefined

    [6] ToolbarItems6: {onClick: ƒ, addListeners: ƒ}     // index.mjs[6]
    [4] Clicked Item6, Event:  undefined

    [1] Clicked Home , Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}

    Uncaught ReferenceError ReferenceError: ToolbarItems2 is not defined
        at onclick (C:\Repos\FRApps_\dev01-robin\client\1c-html-custom-app_final\src\index1.html:61:9)

    Uncaught ReferenceError ReferenceError: ToolbarItems3 is not defined
        at <anonymous> (<eval>/VM46947589:1:2)

    Uncaught ReferenceError ReferenceError: ToolbarItems4 is not defined
        at onclick (C:\Repos\FRApps_\dev01-robin\client\1c-html-custom-app_final\src\index1.html:61:9)

    Uncaught ReferenceError ReferenceError: ToolbarItems5 is not defined
        at onclick (C:\Repos\FRApps_\dev01-robin\client\1c-html-custom-app_final\src\index1.html:61:9)


http://localhost:5500/client/1c-html-custom-app_final/src/components/Toolbar/Toolbar2.html

    [4] ToolbarItems4: {onClick: ƒ, addListeners: ƒ}
    [4] Clicked Item4, Event: undefined

        Begin waiting: Thu May 19 2022 19:33:35 GMT-0400 (Eastern Daylight Time)
    [5] ToolbarItems5: {onClick: ƒ, addListeners: ƒ}
    [4] Clicked Item5, Event: undefined
       End 3 sec wait: Thu May 19 2022 19:33:38 GMT-0400 (Eastern Daylight Time)

    [1] Clicked Home , Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}

    [2] Clicked Links, Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}
        Toolbar2[  2]  alert( '[2] Clicked Links' )

    [3] Clicked Cards, Event: undefined
        Toolbar2[  3]  alert( '[3] Clicked Cards' )

    [4] Clicked FAQs , Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}
        toggleDiv[ 1]  alert( '[4] FAQs display is now set to block' )

    [4] Clicked FAQs , Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}
        toggleDiv[ 1]  alert( '[4] FAQs display is now set to none'  )

    [4] Clicked FAQs , Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}
        toggleDiv[ 1]  alert( '[4] FAQs display is now set to block' )

    [4] Clicked Sign In, Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}


http://localhost:5500/client/1c-html-custom-app_final/src/components/Toolbar/Toolbar1.html

    [2] ToolbarItems2: {onClick: ƒ}
    [2] Clicked Item2, Event: undefined

    Uncaught ReferenceError ReferenceError: ToolbarItems4 is not defined
        at <anonymous> (C:\Repos\FRApps_\dev01-robin\client\1c-html-custom-app_final\src\components\Toolbar\Toolbar1.html:49:11)

    [3] ToolbarItems3: {onClick: ƒ}
    [3] Clicked Item3, Event: undefined

    [4] ToolbarItems4: {onClick: ƒ, addListeners: ƒ}
    [4] Clicked Item4, Event:  undefined

    [1] Clicked Home , Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}

    [2] Clicked Links, Event: PointerEvent {isTrusted: true, pointerId: 1, width: 1, height: 1, pressure: 0, …}
        Toolbar1[  2]  alert( '[2] Clicked Links' )

    [3] Clicked Cards, Event: undefined
        Toolbar1[  3]  alert( '[3] Clicked Cards' )

    Uncaught ReferenceError ReferenceError: ToolbarItems4 is not defined
        at onclick (C:\Repos\FRApps_\dev01-robin\client\1c-html-custom-app_final\src\components\Toolbar\Toolbar1.html:21:83)

    Uncaught ReferenceError ReferenceError: ToolbarItems5 is not defined
        at onclick (C:\Repos\FRApps_\dev01-robin\client\1c-html-custom-app_final\src\components\Toolbar\Toolbar1.html:22:83)



