/* ----------------------------------------------------------------------- */
/* theme1.css                                                              */
/* ----------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bookman+Old+Style' );

/*-----------------------------------------
root selector to create variables
CHANGE: h2-font-size
-------------------------------------------*/
:root {
    --Menubar_min-width             : 760px;   /* --Menubar-min-width: \*\/ .*px    --Menubar-min-width: * / 760px */

    --Menubar_body-height           : 100px;
    --Menubar_body-color            : #FF7034;                            /* dark orange*/

/*  --Sidebar_button-image          :  url( 'assets/icons/hamburger.svg' );            *//* no workie */
/*  --Sidebar_button-image          :  url( 'assets/icons/hamburger.svg?fill=white' ); *//* no workie */
/*  --Sidebar_button-image          :  url( 'assets/icons/hamburger.png' );            *//* no workie */

    --Menubar_logo-image            :  url( 'assets/logos/FormR_Logo-03_CF-Blue_280x80.png' );
    --Menubar_logo-width            :  calc( 280px * .8 );                                 /* 280px;  */
    --Menubar_logo-height           :  calc(  80px * .8 );
    --Menubar_logo-margin-bottom    :   0px;

/*  --Menubar_font-family           : "Frank Ruhl Libre"; */
    --Menubar_font-family           : "Bookman Old Style", "Gill Sans", "Calibri", "Trebuchet MS" "sans-serif"; ;
    --Menubar_font-spacing          :   0px;
    --Menubar_font-size             : 1.2rem;                             /* was  --nav-list-font-size: 1.2rem; */
    --Menubar_font-color            :  black;
    --Menubar_hover-font-color      :  white;                             /* was  --nav-list-item-hover-color: white */
    --Menubar_font-shadow           : 0.0px 0.0px white;

    --CTA_button-width              : 100px;
    --CTA_button-margin-top         :  -4px;                              /* Added */
    --CTA_button-padding            :  10px 16px 10px 16px;
    --CTA_button-body-color         :  blue;                            /* was #ff1b68; red */
    --CTA_button-font-color         :  white;                           /* was white; */
    --CTA_button-font-size          :  var(--Menubar_font-size);
    --CTA_button-hover-color        :  var(--CTA_button-font-color);      /* was white  */
    --CTA_button-hover-font-color   :  var(--CTA_button-body-color);      /* was #ff1b68; */

/*  --Main_body-top                 : var(--Menubar_body-height);       *//* s.b. 100px; don't use */
    --Main_body-padding             :  10px 10px;
    --Main_body-font-family         : "Bookman Old Style";

    --Section1_body-color           :  rgb(121, 111, 212);                /* not used */
    --Section1_image                :  url("assets/images/monaco-blue-soft.jpg");
    --Section1_h2-padding           : 100px 40px 20px 55px;
    --Section1_font-color           :  blue;                              /* Added Blue*/
    --Section1_1stchar-font-color   :  cornflowerblue;
    --Section1_h2-font-color-light  :  white;

    --Section2_width                : 100%;                               /* was: 400px */
    --Section2_margin               :   0px 20px 0px 20px;                /* was: 10px 10px 10px 100px; */
    --Section2_padding              :   0px  0px 0px  0px;                /* was:  0px 10px 10px  10px; */
    --Section2_body-color           :  whitesmoke;
    --Section2_font-color           :  black;                             /* Added */
    --Section2_font-size            : 1.0rem;
    --Section2_font-alignment       :  left;

    --Section2_h2-font-color-dark   :  black;
    --Section2_h2-font-size         : 2.0rem;
    --Section2_h2-font-alignment    :  center;

    --Footer_body-height            :  50px;
    --Footer_body-color             :  var(--Menubar_body-color);         /* dark orange */
    --Footer_font-color             :  var(--Menubar_font-color);
    --Footer_font-family            :  var(--Menubar_font-family);
    --Footer_hover-font-color       :  var(--Menubar_hover-font-color);
    --Footer_font-size              : 0.9rem;
    --Footer_font-shadow            : 0.0px 0.0px white;
    }

/* ----------------------------------------------------------------------- */

