
.mtComponent { 
    display: flex; 
    flex-direction: column;             /* Stack DIVs vertically by column. Default is by row */
/*  justify-content: space-between;   */  
    justify-content: space-around;      /* better */ 
    height: 100%; 
    width:  100%; 
    background: transparent;   
    position: fixed; 
    top: 0px;
    left: 0px;
    border:  none; 
    cursor:  pointer;
    padding: 0px;                     
    margin:  0px;                     
    box-sizing: border-box;           
    }


