/*Large Blocks CSS*/
@import url('https://fonts.googleapis.com/css?family=Bookman Old Style');

/*The html properites*/
html {
    background: #b3b3b3;
    height: 100%;
    text-align: center;
}

/*The body properites*/
body {
    background: white;
    height: 100%;
    width: 100%;
    margin: 0;
}

/*Set global properties for the <h2> tags*/
/*It also overrides the intrinsic margin of*/
/*20 to 0--allowing to stack the blocks together*/
h2 {
    margin: 0;
    font-size: 2rem;
    color: white;
    padding: 6rem;
    text-align: center;
}

/*The .header properites*/
.header {
    background: red;
    color: white;
    height: 10%; /*was 100px*/
    width: 100%; /*was 300px*/
    position: relative;
}

/*This is the first <h2> override*/
/*setting the padding from 6 to 1 rem*/
.header h2 {
    padding: 1rem;
}

/*The .section1 properites*/
.section1 {
    background: blue;
    height: 40%; /*was 100px*/
    width: 100%; /*was 300px*/
    position: relative;
}

/*The .section2 properites*/
.section2 {
    background: lightgray;
    height: 40%; /*was 100px*/
    width: 100%; /*was 300px*/
    position: relative;
}

/*This is another <h2> override*/
/*setting the font color from white to black*/
.section2 h2 {
    color:black;
}

/*The .footer properites*/
.footer {
    background: green;
    height: 10%; /*was 100px*/
    width: 100%; /*was 300px*/
    position: relative;
}

/*This is another <h2> override*/
/*setting the padding from 6 to 2 rem*/
.footer h2 {
    padding: 2rem;
}