/* ----------------------------------------------------------------------- */

.Sidebar { 
    position            :  fixed;
    top                 :   0px;
    left                :   0px;
    height              : 100%; 
    width               :  70%;          /* why? */
    max-width           : 400px;    
    background          : white;    
    box-shadow          :   2px 0px 5px rgb(0,0,0, 0.5);
    z-index             : 200;
    }

.Sidebar li { 
    margin              : 0.5rem 0;
    list-style          : none;   /* added */ 
    }    

.Sidebar a { 
    color               : blue;
    text-decoration     : none;
    font-size           : 19.2px;  /*  1.2rem;  */
    }

.Sidebar a:hover, 
.Sidebar a:active { 
    color               : #fa923f;
    }

/* ----------------------------------------------------------------------- */
