@import url('https://fonts.googleapis.com/css?family=Bookman Old Style');

/*From Basic Blocks*/
html {
    background: #b3b3b3;
    height: 100%;
    padding: 0px;
}

/*The body properites*/
body {
  background: white;
  height: 100%;
  width: 100%;
  margin: 0;
}

/*Set global properties for the <h2> tags*/
/*It also overrides the intrinsic margin of*/
/*20 to 0--allowing to stack the blocks together*/
h2 {
  margin: 0;
  font-size: 2rem;
  color: white;
  padding: 6rem;
  text-align: center;
}

/*The .header properites*/
.header {
  background: red;
  width: 100%;    /*was 300px*/
  height: 10%;   /*was 100px*/
  position: fixed;  /*was relative*/
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

/*Sets all the properties for the font-based logo*/
.header-logo {
  font-family: "Bookman Old Style", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: blue;
  text-shadow: 2px 2px 12px #000000;
  padding-left: 20px;
}

/*Sets the properties for the first letter*/
/*of the font-based logo*/
.header-logo::first-letter {
  font-size: 150%;
  color: cornflowerblue;
}

/*This replaces the action of the above css code*/
/*This sets the size and position of the formr.gif logo*/
.formr-logo1 {
  width: 210px;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
}

.formr-logo2 {
  width: 210px;
  height: 60px;
  padding-left: 20px;
  padding-top: 10px;
}

/*Sets properties for the nav-bar*/
/*introducing the flex property*/
.nav-list {
  list-style: none;
  margin-right: 30px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Sets the properties for each of the nav-bar items*/
.nav-list-item a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 8px 0;
}

/*Sets the color of the nav-bar items when you hover*/
.nav-list-item a:hover,
.nav-list-item a:active {
  color: #ccc;
}

/*Creates the blue button around the 'Sign In'*/
/*button.  -cta stands for 'Call To Action'*/
.nav-list-item-cta a {
  color: white;
  background: blue ;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

/*The .section1 properites*/
/*The main difference is the addition of*/
/*a background image and associated properties*/
.section1 {
  background: url("assets/images/monaco-blue-soft.jpg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 10%;
  width: 100%;
  height: 45%;
  position: relative;
  
}

/*Sets all the propterties for the font-based*/
/*text overlay*/
.image-text {
  font-family: "Bookman Old Style", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #0000ff;
  text-shadow: 2px 2px 12px #000000;
  padding: 50px 420px 0px 0px;
}

/*Sets the properties for the first letter*/
/*of the font-based text overlay*/
.image-text::first-letter {
  font-size: 150%;
  color: cornflowerblue;
 }

/*The .section2 properites*/
.section2 {
  background: lightgray;
  width: 100%;    /*was 300px*/
  height: 50%;  /*Added 5% to create scrolling*/
  position: relative;
  top: 10%; /*Added to adjust the top position*/
}

/*This is another <h2> override*/
/*setting the font color from white to black*/
.section2 h2 {
  color: black;
}

/*The .footer properites*/
/*The position was changed to fixed*/
/*With a z-index of 99*/
.footer {
    background: green;
    width: 100%; 
    /*height: 10%;  Removed in place of the bottom property*/
    bottom: 0;
    position: fixed;
    z-index: 99;
}

/*From Basic Fixed Footer with Links*/
.footer-text {
  font-size: x-large;
  text-align: right;
  padding: 0px 30px 0px 65%;}

/*From Basic Fixed Footer with Links*/
.footer-list {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/*From Basic Fixed Footer with Links*/
.footer-list-item a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 8px 0;

  }

/*From Basic Fixed Footer with Links*/
.footer-list-item a:hover,
.footer-list-item a:active {
  color: #ccc;
}

/*This is another <h2> override*/
/*setting the padding from 6 to 0 rem*/
.footer h2 {
  padding: 0;
}