
.Sidebar_button { 
/*  display             : flex;                    *//* .(20630.06.1) */
    display             : flex;                      /* .(20630.06.1) */ 

    flex-direction      : column;             /* Stack DIVs vertically */
/*  justify-content     : space-between;   */  
    justify-content     : space-around;      /* better */ 
    height              : 24px; 
    width               : 24px; 
    background          : transparent;    
    border              : none; 
    cursor              : pointer;
    padding             : 0px;                       /* no effect */
    margin-right        : 6px;    
    box-sizing          : border-box;             /* no effect */
/*  border              : 1px solid black;  */
    }

.Sidebar_button:focus { 
    outline             : none;
    }

.Sidebar_button-line { 
    width               : 100%;                        /* or 30px; no effect */
    height              : 4px; 
    background          : white;
    }

@media (min-width: 870px) {   /* toolbar-min-width: 840px; */   
 .Sidebar_button {
    display             : none;			/* above 640px */
    }
  }