html {
    background: #b3b3b3;
    border:  1px solid red;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
    padding: 0px;
    border:  1px solid black;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header {
    border: 1px black solid;
    background: red;
    /*top: 100px;*/
    left: 0px;
    width: 100%; /*was 300px*/
    height: 90px;
    color: white;
    padding-bottom: 10px;
    /*margin: 20px 20px 20px 20px;*/
    position: fixed;
    z-index: 999;
}

.header-logo-1 {
    font-family: "Bookman Old Style", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: cornflowerblue;
    text-shadow: 2px 2px 12px #000000;
    padding: 0px 0px 0px 10px;
  }

.header-logo-2 {
  font-family: "Bookman Old Style", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: blue;
  text-shadow: 2px 2px 12px #000000;
}


.header-text {
    font-size: x-large;
    text-align: right;
    padding: 0px 40px 40px 0px;
}

.images {
    border: 1px black solid;
    background: blue;
    top: 90px;
    font-size: x-large;
    left: 0px;
    width: 100%; /*was 300px*/
    height: 400px;
    color: white;
    padding-top: 100px;
    text-align: center;
    /*margin: 20px 20px 20px 20px;*/
    position: relative;
}

.main {
    border: 1px black solid;
    background: lightgray;
    /*top: 150px;*/
    font-size: x-large;
    left: 0px;
    width: 100%;  /*was 300px*/
    height: 400px;
    color: black;
    padding-top: 125px;
    text-align: center;
    /*margin: 20px 20px 20px 20px;*/
    position: relative;

    /*z-index: 99;*/

}

.footer {
    border: 1px black solid;
    background: green;
    /*top: 180px;*/
    font-size: x-large;
    left: 0px;
    width: 100%; /*was 300px*/
    height: 60px;
    color: white;
    padding-top: 30px;
    text-align: center;
    /*margin: 20px;*/
    position: relative;

    /*z-index: 99;*/
}

